@model Application.Models.Payment

@{
    ViewBag.FormTitle = "Make a payment";
    Layout = "~/Views/Shared/_MinimalLayout.cshtml";
}


<div class="panels">
    <div class="grid grid--gutters">
        <div class="container container--page" style="max-width: 800px;">
            <div class="grid__section">
                <div class="grid__row">
                    <div class="grid__column grid__column--12">
                        <div class="panel">
                            <form method="POST" id="paymentForm">
                                <fieldset>

                                    
                                <div style="text-align: center;">
                                    <p><div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></p>
                                    <p>
                                        <strong style="font-size: 2rem; color: #5a3859;">Please complete payment in Storm PadLock</strong>
                                    </p>

                                    <p>If PadLock has not automatically loaded please copy and paste the following details <strong>EXACTLY</strong>. If you alter the reference or amount the payment will later be rejected.</p>

                                    <div class="tooltip" onmouseout="outFunc()"><span class="tooltiptext" id="myTooltip">Copy to clipboard</span><label class="storm-label">Transaction amount (£)</label><input type="text" class="js-amount js-copy" onclick="copyToClipboard('js-amount')" value="@(string.Format("{0:F2}", Model.Amount))" /></div>
                                    <div class="tooltip" onmouseout="outFunc()"><span class="tooltiptext" id="myTooltip">Copy to clipboard</span><label class="storm-label">Reference</label><input type="text" class="js-reference js-copy" onclick="copyToClipboard('js-reference')" value="@Model.InternalReference" /></div>

                                    <p>This screen will automatically redirect you shortly after the payment has been successful.</p>                                    
                                    
                                    <a class="button button--default button--link" onclick="stopReload()" href="~/Payment/PaymentResponse?internalReference=@Model.InternalReference&result=FAILED">Payment fail</a> 
                                    <a class="button button--default button--link" onclick="stopReload()" href="~/Payment/PaymentResponse?internalReference=@Model.InternalReference&result=CANCELLED">Cancel</a>
                                </div>
                                    
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script type="text/javascript">
        var reloadEnabled = true;
        var autoReload = setTimeout(function () { if (reloadEnabled) { location.reload(); } }, 5000);

        stopReload = function () {
            clearTimeout(autoReload);
        }

        function copyToClipboard(className) {
            /* Get the text field */
            var copyText = document.getElementsByClassName(className)[0];

            /* Select the text field */
            copyText.select();
            copyText.setSelectionRange(0, 99999); /*For mobile devices*/

            /* Copy the text inside the text field */
            document.execCommand("copy");

        /* Alert the copied text */
            var tooltip = document.getElementsByClassName("tooltiptext");
            tooltip[0].innerHTML = "Copied: " + copyText.value;
            tooltip[1].innerHTML = "Copied: " + copyText.value;
        }

        function outFunc() {
            var tooltip = document.getElementsByClassName("tooltiptext");
            tooltip[0].innerHTML = "Copy to clipboard";
            tooltip[0].innerHTML = "Copy to clipboard";
        }

    </script>
    <style type="text/css">

    .storm-label {
        display: inline-block;
        width: 200px;
        text-align: right;
        padding-right: 10px;
        margin-left: -50px;
    }

    .js-reference {
        display: inline-block;
        border: 1px solid #ccc;
        padding: 10px;
    }

    .tooltip {
        position: relative;
        display: block;
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 140px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: 105%;
        left: 50%;
        margin-left: 0px;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }

    .lds-spinner {
        color: transparent;
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }
    .lds-spinner div {
        transform-origin: 40px 40px;
        animation: lds-spinner 1.2s linear infinite;
    }
    .lds-spinner div:after {
        content: " ";
        display: block;
        position: absolute;
        top: 3px;
        left: 37px;
        width: 6px;
        height: 18px;
        border-radius: 20%;
        background: #5a3859;
    }
    .lds-spinner div:nth-child(1) {
        transform: rotate(0deg);
        animation-delay: -1.1s;
    }
    .lds-spinner div:nth-child(2) {
        transform: rotate(30deg);
        animation-delay: -1s;
    }
    .lds-spinner div:nth-child(3) {
        transform: rotate(60deg);
        animation-delay: -0.9s;
    }
    .lds-spinner div:nth-child(4) {
        transform: rotate(90deg);
        animation-delay: -0.8s;
    }
    .lds-spinner div:nth-child(5) {
        transform: rotate(120deg);
        animation-delay: -0.7s;
    }
    .lds-spinner div:nth-child(6) {
        transform: rotate(150deg);
        animation-delay: -0.6s;
    }
    .lds-spinner div:nth-child(7) {
        transform: rotate(180deg);
        animation-delay: -0.5s;
    }
    .lds-spinner div:nth-child(8) {
        transform: rotate(210deg);
        animation-delay: -0.4s;
    }
    .lds-spinner div:nth-child(9) {
        transform: rotate(240deg);
        animation-delay: -0.3s;
    }
    .lds-spinner div:nth-child(10) {
        transform: rotate(270deg);
        animation-delay: -0.2s;
    }
    .lds-spinner div:nth-child(11) {
        transform: rotate(300deg);
        animation-delay: -0.1s;
    }
    .lds-spinner div:nth-child(12) {
        transform: rotate(330deg);
        animation-delay: 0s;
    }
    @@keyframes lds-spinner {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
</style>